/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#main {
    width: calc(100%-275px);
    left: 275px;
    opacity:0;  /* make things invisible upon start 
    -webkit-animation:fadeIn ease-in 1;  call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; this makes sure that after animation is done we remain at the last keyframe value (opacity: 1
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
*/
body {
    position: absolute;
    background-image: url("../img/Argyroderma/IMG_1278.JPG");
    background-size: cover;
    background-attachment: fixed; 
}
p {
    text-align: center;
    margin: auto;
    font-size: 14pt;
}
#main {
    margin: 0 auto;
}

.hex-layers {
    width: 80%;
    height: 0; 
    padding: 3%;
    margin: auto;
}

.hex:before {
    z-index: -1;
    content: "";
    width: 0; height: 0;
    border-bottom: 80px solid #7A378B;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    position: absolute;
    top: -80px;
}

.hex {
    z-index: 1;
    margin-top: 80px;
    width: 260px;
    height: 140px;
    background-color: #7A378B;
    position: relative;
    opacity: 0.5;
}

.hex:after {
    z-index: -1;
    content: "";
    width: 0;
    position: absolute;
    bottom: -80px;
    border-top: 80px solid #7A378B;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
}

#hex2 {
    left: 160px;
    top: 40px;
}

#hex3 {
    left: 360px;
    top: -420px;
}

#hex4 {
    left: 530px;
    top: -380px;
}

#icon {
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .hex-layers {
        padding: 2%;
        margin: auto;
        position: absolute;
    }
    #hex2 {
        left: 2px;
        top: 100px;
    }
    #hex3 {
        left: 2px;
        top: 200px;
    }
    #hex4 {
        left: 2px;
        top: 300px;
    }
}