body {
	position: absolute;
 	background-image: url("../img/Argyroderma/IMG_1278.JPG");
 	background-size: cover;
	background-attachment: fixed; 
}

#main p {
  	font-size: 12pt;
  	width: 75%;
  	margin: 0 auto;
}

.hex-layers {
	width: 100%;
}

.hex {
	margin: 10%;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 90px solid #8AA37B;
    border-left: 156px solid transparent;
    border-right: 156px solid transparent;
    position: absolute;
    top: -90px;
}

.hex {
	z-index: -1;
    margin-top: 90px;
    width: 312px;
    height: 180px;
    background-color: #8AA37B;
    position: relative;
    opacity: 0.5;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -90px;
    border-top: 90px solid #8AA37B;
    border-left: 156px solid transparent;
    border-right: 156px solid transparent;
}