@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  position: fixed;
  height: 100%;
  width: 100%;
}

#myCarousel {
	width: 80%;
	height: 100%;
	position: relative;
	left: 275px;
}

h2 {
	position: absolute; 
	top: 20%;
	left: 0;
	width: 100%;
}

h2 span {
	color: white;
	font: 150% 'Raleway';
	font-weight: bold;
	/*background-color: black; /* fallback */
	/*background-color: rgba(0, 0, 0, 0.3);*/
}

blockquote {
	border:none;
	font-family: 'Raleway';
	max-width: 600px; 
	margin: 0 auto;
	padding-left: 0.4em; 
	position: absolute; 
	top: 60%;
	left: 0;
	color: white;
	background-color: black;
}

blockquote h3 {
	font-size:48px;
}

blockquote h3:before { 
	content: "\201C";
	font-weight: bold;
	font-size:100px;
	color: lightblue;
	position: absolute; 
	top: -0.2em;
	left: -0.5em; 
	font-family: 'Georgia'; 
} 

blockquote h3:after { 
	content: "\201D";
	font-weight: bold;
	font-size:100px;
	color:lightblue;
	position: absolute; 
	bottom: -0.6em;
	right: 0; 
	font-family: 'Georgia'; 
}

div.container.fill {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-top: -20px;
}

#myCarousel {
	width: 80%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	z-index: -1;
}

.carousel-inner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
}

.carousel-inner .item {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
}
.carousel-inner .item img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
}

.carousel-indicators {
	left: 0;
 	width: 80%;
 	margin: 0 auto;
	z-index: 2;
}

.carousel-control {
	z-index: 2;
}

/* Stack Overflow carousel */
#myCarousel {
    width: 100%;
    left: 275px;
}

#carousel-dot-overlay {
	position: absolute;
	height: 100%;
	width: 80%;	
	background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
	opacity: 0.35;
	z-index: 1;
}

.carousel-control {
    position: fixed;
    z-index: 2;
}
.carousel-control.left{
    left: 275px;
    z-index: 2;
}
.carousel-inner .item {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	width: 80%;
	z-index: 50;
}
.feat1 {
    background: url(../img/Acca/IMG_7147_2.JPG) no-repeat center center; 
}
.feat2 {
    background: url(../img/Abelmoschus/IMG_7831.JPG) no-repeat center center; 
}
.feat3 {
    background: url(../img/Aechmea/IMG_4105.JPG) no-repeat center center; 
}
.feat4 {
    background: url(../img/Acer/IMG_8201.JPG) no-repeat center center; 
}
.feat5 {
    background: url(../img/Adromischus/IMG_3703.JPG) no-repeat center center; 
}
.feat6 {
    background: url(../img/Annona/IMG_0686_2.JPG) no-repeat center center fixed; 
}
