@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* General styles for all pages */
h1 {
	text-align: center;
	font-size: 25px;
	font-family: 'Megrim';
	color: white;
}

p, text {
	font-family: 'Quicksand';
	color: white;
}

body {
	left: 275px;
	width: calc(100% - 275px);
	height: 100%;
	top: 0;
	padding: 0;
	margin: 0;
}

body.active { /* Adjust body according to sidebar */
  height: 100%;
  width: 100%;
  left: 0;
}

#main-overlay, #frame {
	position: fixed;
	left: 275px;
	width: calc(100% - 275px);
	height: 100%;
	top: 0;
	padding: 0;
	margin: 0;
}

#main-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

#main-overlay.active, #frame.active { /* Adjust overlay and frame according to sidebar */
	left: 0px;
	width: 100%;
}

#frame {
	border: 2px ridge rgba(295, 295, 295, 0.5);
	z-index: 3;
}

/* Button for expanding and collapsing sidebar */

#hamburger {
	position: fixed;
	top: 3px;
	left: 3px;
	font-size: 2em;
	color: white;
	z-index: 4;
}

#hamburger:hover, #hamburger.active {
	opacity: 1;
}

#hamburger, #hamburger.active:hover {
	opacity: 0.5;
}

/* Sidebar */

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 275px;
	background: url(../img/Aphelandra/IMG_2184b.JPG) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-right: solid 1px darkgrey;
	z-index: 0;
	-moz-box-shadow: inset -5px -5px 15px #888;
	-webkit-box-shadow: inset -5px -5px 15px #888;
	box-shadow: inset -5px -5px 15px #888;
}

#sidebar-overlay, #sidebar-dot-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#sidebar-overlay {
	background-color: rgba(0, 0, 0, 0.87);
	z-index: 1;
}

#sidebar-dot-overlay {
	background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
	opacity: 0.8;
	z-index: 2;
}

/* Title logo "Nam Pham" on sidebar */

#title {
	position: fixed;	
	top: 0;
	left: 70px;
	height: 135px;
	width: 135px;	
	padding: 10px;
	border: 3px double rgba(295, 295, 295, 0.6);
	border-top: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);	
	z-index: 2;
}

#title h1 {
	font-family: 'Megrim';
	font-size: 45px;
	margin-top: 5px;
	margin-left: 5px;
	z-index: 2;
}

/* Menu on sidebar */

#menu {
	position: relative;
	top: 150px;
	margin: 0;
	width: 100%;
	z-index: 3;
}

.nav-pills>li>a {
	font-family: 'Quicksand';
	color: white;
	background-color: transparent;
	border-radius: 0;
	opacity: 0.5;
	width: 100%;
	text-align: center;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover, .nav-pills>li>a:focus, 
.nav-pills>li>a:hover {
	background-color: transparent;
	opacity: 1;
}	

.nav-pills>li>a::after,
.nav-pills>li>a::before {
  	backface-visibility: hidden;
	border: 1px solid transparent;
  	bottom: 0px;
  	content: " ";
  	display: block;
  	margin: 0 auto;
  	position: relative;
  	transition: all 280ms ease-in-out;
  	width: 0;
}

.nav-pills>li>a:hover::after,
.nav-pills>li>a:hover::before {
  	backface-visibility: hidden;
  	border-color: rgba(295, 295, 295, 0.6);
  	transition: width 350ms ease-in-out;
  	width: 30%;
}

.nav-pills>li>a:hover::before {
  	bottom: auto;
  	top: 0;
}

#copyright {
	position: fixed;
  	bottom: 0px;
  	left: 0px;
  	width: 275px;
  	margin: 10px;
  	color: rgba(295, 295, 295, 0.5);
  	font-family: 'Quicksand';
  	z-index: 4;
  	font-size: 11px;
}
