

#title-logo {
	font-family: 'Megrim';
	vertical-align: middle;
	font-size: 30px;
}

.nav {
	margin-top: 10px;
	margin-left: 20px;
}

.nav>li>a {
	color: black;
	padding: 10px 30px;
}

.nav-pills>li{
	font-family: 'Megrim';
	color: black;
	vertical-align: middle;
	background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: black;
	background-color: transparent;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
	color: black;
	background-color: transparent;
}

.nav-pills>li>a:before, .nav-pills>li>a:focus:before, .nav-pills>li>a:hover:before {
	content: "{" !important;
}

.nav-pills>li>a {
	border-radius: 0px;
}

.brackets:before, .brackets:after {
	position: absolute;
	color: transparent;/* It makes the curly brackets invisible at the beginning.*/	
	font-size: 2.5em;
	margin-top: -15px;
}

.active .brackets:before, .active .brackets:after {
	position: absolute;
	color:  #666699;
	font-size: 2.5em;
	margin-top: -15px;
}

.brackets:hover:before, .brackets:hover:after, .brackets .active:before, .brackets .active:after{
	color: black; 
}

.brackets:before {
	content: "{";
	left: 15px;
}

.brackets:hover:before {
	left: 10px;
}

.brackets:after {
	content: "}";
	right: 15px;
}

.brackets:hover:after {
	right: 10px;
}

.brackets:before {
	content: "{";
	left: 15px;
}


