body {
	position: absolute;
}

img {
	max-width: 100px;
	max-height: 100px;
	display: none;
}

img:first-of-type {
	display: inline-block;

}

.genus-container {
	display: inline-block;
	position: relative;
}

.genus-container:hover {
	cursor: pointer;
}

.genus {
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	opacity: 0;
}

.genus:hover {
	opacity: 1;
}
