<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Nam Pham Photography</title>
		<meta charset="UTF-8">
		<meta name="description" content="Nam Pham Photography - Contact Page">
		<meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap, Angular">
		<meta name="author" content="Tisha Trongtham">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript"src="js/contact.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/contact.css">
		<link rel="shortcut icon" href="img/logo.png">
	</head>

	<body> 
		<!-- Copy sidebar/menu into all pages -->
		<span id="hamburger" class="glyphicon glyphicon-menu-hamburger"></span>

		<div class="sidebar"> 
			<div id="sidebar-overlay"></div>
			<div id="sidebar-dot-overlay"></div>
			<a href="index.html">
				<div id="title">
					<h1>Nam Pham</h1>
				</div>
			</a>	
			<div id="menu-wrapper">
				<ul id="menu" class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="index.html">HOME</a></li>
					<li role="presentation"><a href="about.html">ABOUT</a></li>
					<li role="presentation"><a href="photos.html">PHOTOS</a></li>
					<li role="presentation" class="active"><a href="contact.html">CONTACT</a></li>
				</ul>
			</div>
			<h3 id="copyright"> &copy NAM PHAM PHOTOGRAPHY. <br/> ALL RIGHTS RESERVED </h3>
		</div>
		<!-- End of sidebar/menu -->

		<div id="main">
			<div id="main-overlay"></div>
			<div id="getInTouch" style="overflow:auto">
				<h1> Get in touch </h1>
				<div id="media-wrapper">
					<div id="phone-wrapper" class="col-sm-4">
						<h2> PHONE </h2>
						<div id="icon-wrapper">
							<a href="tel:720-251-9282"><span id="phone" class="glyphicon glyphicon-earphone img-circle"></span></a> <br/>
							<text>720-251-9282</text>
						</div>
					</div>
					<div id="email-wrapper" class="col-sm-4">
						<h2> EMAIL </h2>
						<div id="icon-wrapper">
							<a href="mailto:phamplatinum@gmail.com"><span id="email" class="glyphicon glyphicon-envelope img-circle"></span></a> <br/> 
							<text> phamplatinum <br/> @gmail.com </text>
						</div>
					</div>
					<div id="social-wrapper" class="col-sm-4">
						<h2> TWITTER </h2>
						<div id="icon-wrapper">
							<a href="https://twitter.com/intent/follow?screen_name=pham720&tw_p=followbutton"><img id="social" class="img-circle" src="http://app-assets3.sportngin.com/images/twitter-bird-dark-bgs.png?1436797972"/></a> <br/>
							<text> @pham720 </text>
						</div>
					</div>
				</div>
			</div> 

			<div id="leaveNote">
				<h1> Leave a note </h1>
				  <div ng-app="myApp" ng-controller="myCtrl">
				  	<form class="form-horizontal" role="form" name="myForm">
				    	<div class="form-group" ng-class="{'has-error' : (myForm.name.$invalid && myForm.name.$touched)}">
				    		<div class="col-xs-12 col-centered">
						       	<input name="name" class="form-control" ng-required="true" ng-model="user.name" placeholder="{{(myForm.name.$invalid && myForm.name.$touched) ? '* Your name' : 'Your name'}}" required> </input> 	 
						    </div>
				    	</div>

				    	<div class="form-group" ng-class="{'has-error' : (myForm.email.$invalid && myForm.email.$touched)}">
				    		<div class="col-xs-12 col-centered">
						       	<input name="email" class="form-control" ng-required="true" ng-model="user.email" placeholder="{{(myForm.email.$invalid && myForm.email.$touched) ? '* Your email' : 'Your email'}}" required> </input>
						    </div>
				    	</div> 

				    	<div class="form-group" ng-class="{'has-error' : (myForm.phone.$invalid && myForm.phone.$touched)}">
				    		<div class="col-xs-12 col-centered">
						       	<input name="phone" class="form-control" ng-required="true" ng-model="user.phone" placeholder="{{(myForm.phone.$invalid && myForm.phone.$touched) ? '* Your phone' : 'Your phone'}}" required> </input>
						    </div>
				    	</div>

				    	<div class="form-group">
				    		<div class="col-xs-12 col-centered">
						       	<textarea rows="5" class="form-control" placeholder="Your message"></textarea>
						    </div>
				    	</div>    
				    	
					  	<div class="form-group"> 
						  	<div id="send-wrapper">
						  		<button id="send-button" type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid"><span id="send" class="glyphicon" ng-class="class" ng-click="submit(); reset()"></span></button> <br/><br/>
						  		<text ng-show="sent"> Thank you! </text>
						  	</div>
					  	</div>
				  	</form>
				</div>
			</div>
		</div>

	</body>

</html> 
